/* numberCount.scss */
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");

.numcount-1 {
  margin-top: 5%;
  gap: 10px;

  .cont1 {
    width: 100%;
    padding: 10px; /* Reduced padding for better mobile responsiveness */
    display: flex;
    gap: 10px;
    flex-wrap: nowrap; /* Prevent wrapping to the next row */
  }

  .cont {
    margin: 5px; /* Adjust margin as needed for spacing */
    width: calc(25% - 10px); /* Adjust the width of each count element for a 4-column layout */
    border-radius: 5px;
    gap: 10%;
  }

  .value1 {
    font-size: 61px;
    font-weight: bold;
    color: #fff;
    font-family: "Arial", sans-serif; /* Alternative font */
    animation: fadeIn 1s ease-in;
  }

  .label1 {
    color: #f7b322;
    font-size: 25px;
    font-weight: bold;
    font-family: "Arial", sans-serif; /* Alternative font */
    animation: fadeIn 1s ease-in;
  }

  .horizontal-line1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100%;
    height: 3px;
    justify-content: center;
    background-color: #fff;
  }

  .horizontal-line2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 10px;
    background-color: #f7b322;
  }

  @media screen and (max-width: 768px) {
    .cont1 {
      flex-direction: column; /* Display counts in a single column on smaller screens */
      align-items: center;
    }

    .cont {
      width: 100%; /* Make each count occupy the full width */
      text-align: center;
      margin: 10px 0; /* Adjust margin for spacing */
    }
  }
}
