.addevent-wrapper {
  margin-top: 5%;
  margin-left: 10%;

  h2 {
    color: white;
  }
  form {

    label {
    color: white;

    }

    input {
      margin-left: 2%;
    }
    button{
        color: blue;
    }
  }
}
