.college-grp1 {
  margin-top: 10%;

  .colleges-row {
    display: flex;
    justify-content: center;
    gap: 11%;
  }
  

  .college-item {
    padding: 30px;
    text-align: center;
    p{
      color: #fff;
    }
    img {
      padding: 0;
      display: block;
      width: 100%;
      height: auto;
      transition: all 0.3s ease;
      width: 145px;
      height: 137px;
      border-radius: 8px;
      filter: brightness(120%) contrast(130%);
    }
    
    #clg5{
      margin-left: -5%;
    }
    #clg6{
      margin-left: -29%;
    }
    img:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transform: scale(1.2);

      /* Add specific background colors for each college item on hover */
      &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
     
    }

    .college-label {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin-top: 16px;

      @media (max-width: 768px) {
        font-size: 12px;
      }

      @media (max-width: 576px) {
        font-size: 10px;
      }
    }
  }

  .college-hover-red {
    background-color: rgb(204, 78, 78);
  }

  .college-hover-white {
    background-color: #ffffffda;
  }

  .college-hover-green {
    background-color: rgba(74, 180, 74, 0.566);
  }

  .college-hover-gold {
    background-color:rgb(234, 214, 99);
  }
  .college-hover-blue {
    background-color: rgba(45, 151, 212, 0.311);
  }
}
