/* Slider styles */
.CampusTourwrapper {
  margin-top: 10%;
  margin-left: 0;
  // margin-left: -30%;
background: none;
  .campusTour-title {
    h3 {
      margin-left: 10%;
      display: flex;
      justify-content: flex-start;
      font-size: 30px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      text-decoration: wavy;
      padding: 0;
      // background-color: #ffffff85; /* Set your desired background color for highlighting */
      // padding: 5px 10px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    h3 span {
      position: relative;
      width: 400%;
      border-bottom: 3px solid #f7b322;
    }
    h3 span:before {
      content: "";
      position: absolute;
      margin-top: 10px;

      width: 40%;
      height: 20px;
      bottom: -3px;
      left: 0;
      background-color: #f7b322;
    }
  }

  .container__slider-CampusTourwrapper {
    height: 350px;
    display: flex;
    // margin: auto;
    // align-items: center;
    // justify-content: center;

    input[type="radio"] {
      display: none;
    }

    .container {
      margin-left: -0.005px;
      // width: 100%;
      max-width: 800px;
      height: 100%;
      max-height: 600px;
      transform-style: preserve-3d;
      // display: flex;
      // justify-content: center;
      align-items: center;

      .cards {
        margin-top: 10%;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center; /* Center horizontally */
        align-items: center;
           
        .card {
          background:none;
          border: 0ch;
          position: absolute;
          width: 60%;
          height: 100%;
          left: 0;
          right: 0;
          margin: auto;
          cursor: pointer;
          transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      -o-object-fit: cover;
      object-fit: cover;
      background: none;
    }
    .hover-text {
      justify-content: center;
      color: white;
      margin-top: 2%;
      margin-left: 38%;
      font-size: larger;
    }
  }

  /* Slide transition styles */
  #item-2:checked ~ .cards #selector-1,
  #item-1:checked ~ .cards #selector-6,
  #item-3:checked ~ .cards #selector-2,
  #item-4:checked ~ .cards #selector-3,
  #item-5:checked ~ .cards #selector-4,
  #item-6:checked ~ .cards #selector-5 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }

  #item-3:checked ~ .cards #selector-1,
  #item-2:checked ~ .cards #selector-6,
  #item-4:checked ~ .cards #selector-2,
  #item-5:checked ~ .cards #selector-3,
  #item-6:checked ~ .cards #selector-4,
  #item-1:checked ~ .cards #selector-5 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }

  #item-4:checked ~ .cards #selector-1,
  #item-3:checked ~ .cards #selector-6,
  #item-5:checked ~ .cards #selector-2,
  #item-6:checked ~ .cards #selector-3,
  #item-1:checked ~ .cards #selector-4,
  #item-2:checked ~ .cards #selector-5 {
    transform: translateX(80%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }

  #item-5:checked ~ .cards #selector-1,
  #item-4:checked ~ .cards #selector-6,
  #item-6:checked ~ .cards #selector-2,
  #item-1:checked ~ .cards #selector-3,
  #item-2:checked ~ .cards #selector-4,
  #item-3:checked ~ .cards #selector-5 {
    transform: translateX(120%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }

  #item-6:checked ~ .cards #selector-1,
  #item-5:checked ~ .cards #selector-6,
  #item-1:checked ~ .cards #selector-2,
  #item-2:checked ~ .cards #selector-3,
  #item-3:checked ~ .cards #selector-4,
  #item-4:checked ~ .cards #selector-5 {
    transform: translateX(160%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #selector-1,
  #item-6:checked ~ .cards #selector-6,
  #item-2:checked ~ .cards #selector-2,
  #item-3:checked ~ .cards #selector-3,
  #item-4:checked ~ .cards #selector-4,
  #item-5:checked ~ .cards #selector-5 {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
}
