/* Navbar.scss */
.navbar {
  display: flex;
  padding: 0;
  background-color: #f7b322;
  color: rgb(37, 39, 124);
  position: relative;

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .logo-container {
    display: flex;

    // margin-left: 2%;
    .logo {
      width: 100px;
      height: 100px;
    }

    .title-desc {
      .title {
        display: flex;
        padding-bottom: 0;

        .logo-text {
          font-style: normal;
          justify-content: center;
          letter-spacing: 0.2px;

          h1 {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 800;
            margin: 0;
            font-size: 60px;
          }
        }
        .vertical-line {
          margin-top: 5%;
          width: 5px;
          height: 50px;
          background-color: rgb(37, 39, 124);
        }

        .logo-txt1 {
          margin-top: 3%;
          p {
            font-size: 18px;
            font-weight: 800;
          }
        }
      }
      .title-word {
        color: #fff;
        font-weight: bold;
        margin-left: 12%;
      }
    }
  }

  /* Navigation links styles */
  nav {
    display: flex;
    margin-left: 4%;
    .nav-links li {
      font-family: sans-serif;
    }
    /* ... your existing styles ... */

    .dropdown {
      position: relative;
      // z-index: 1; /* Add a z-index to create a stacking context */

      .dropdown-content {
        padding: 10px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100; /* Make the dropdown content appear above other elements */

        a {
          display: block;
          padding: 10px 15px;
          color: #333;
          text-decoration: none;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }

  .nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .nav-links ul {
      flex-direction: column;
    }
  }

  .nav-links li {
    margin-right: 50px;
  }

  .nav-links a {
    text-decoration: none;
    // color: #ffffff;
    color: rgb(37, 39, 124);

    font-size: 16px;
    font-weight: 800;
    // gap: 10px;
  }

  /* Dropdown styles */
  .dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f7b322;
  }

  .dropdown-content a {
    color: black;
    padding: 2px 6px;
    font-size: 17px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f7b322;
    border-radius: 5px;
  }

  /* Admission button styles */
  .admission-button a {
    background-color: #042243f7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  /* Navbar.scss */
  .navbar {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    background-color: #f7b322;
    color: rgb(37, 39, 124);
    position: relative;
    // z-index: 1;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // @media screen and (max-width: 768px) {

  // }

  .logo-container {
    display: flex;
    // margin-left: 2%;
    .logo {
      width: 100px;
      height: 100px;
    }

    .logo-text {
      font-style: normal;
      justify-content: center;
      // margin-top: 2%;
      letter-spacing: 0.2px;
      padding: 10px;

      h1 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
        margin: 0;
        font-size: 55px;
      }
    }
    .vertical-line {
      margin-top: 4%;
      width: 3px;
      height: 50px;
      background-color: rgb(37, 39, 124);
    }
    .logo-txt1 {
      margin-top: 2%;
      padding: 10px;
      p {
        font-size: 18px;
        font-weight: 800;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .logo-text {
      font-size: 16px;
    }
  }

  /* Navigation links styles */
  nav {
    display: flex;
    margin-left: 4%;
    .nav-links li {
      font-family: sans-serif;
    }
    /* ... your existing styles ... */

    .dropdown {
      position: relative;
      // z-index: 1; /* Add a z-index to create a stacking context */

      .dropdown-content {
        padding: 10px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100; /* Make the dropdown content appear above other elements */

        a {
          display: block;
          padding: 10px 15px;
          color: #333;
          text-decoration: none;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }

  .nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .nav-links ul {
      flex-direction: column;
    }
  }

  .nav-links li {
    margin-right: 50px;
  }

  @media screen and (max-width: 768px) {
    .nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .nav-links a {
    text-decoration: none;
    // color: #ffffff;
    color: rgb(37, 39, 124);

    font-size: 16px;
    font-weight: 800;
    // gap: 10px;
  }

  @media screen and (max-width: 768px) {
    .nav-links a {
      font-size: 12px;
    }
  }

  /* Dropdown styles */
  .dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f7b322;
  }

  .dropdown-content a {
    color: black;
    padding: 2px 6px;
    font-size: 17px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f7b322;
    border-radius: 5px;
  }

  /* Admission button styles */
  .admission-button a {
    background-color: #042243f7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    .admission-button {
      margin-top: 10px;
    }
  }
}
