/* Navbar.scss */

.navbar {
  display: flex;
  padding: 0;
  background-color: #f7b322;
  color: rgb(37, 39, 124);
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    display: flex;

    .logo {
      width: 80px;
      height: 80px;
    }

    .title-desc {
      .title {
        display: flex;
        padding-bottom: 0;

        .logo-text {
          font-weight: 900;
          font-size: 60px;
        }

        .vertical-line {
          width: 5px;
          height: 40px;
          background-color: rgb(37, 39, 124);
          margin-top: 6%;
          margin-left: 1%;

        }

        .logo-txt1 {
          margin-top: 6%;
          margin-left: 1%;
          p {
            font-size: 15px;
            font-weight: 600;
          }
        }
      }

      .title-word {
        color: #fff;
        font-weight: bolder;
        // margin-left: %;
      }
    }
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin-right: 50px;
        font-weight: 600;

        a {
          text-decoration: none;
          color: rgb(37, 39, 124);
          font-size: 16px;

          &:hover {
            color: #fff;
          }
        }
      }

      .dropdown {
        position: relative;

        a {
          text-decoration: none;
          color: rgb(37, 39, 124);
          font-weight: 600;
          font-size: 16px;

          &:hover {
            color: #fff;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #f9f9f9;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 1;

          a {
            display: block;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;

            &:hover {
              background-color: #ddd;
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  .admission-button a {
    background-color: #042243f7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
}
